<!DOCTYPE html>
<% layout('layout') -%>

<script src="/javascripts/account.js"></script>
<link rel="stylesheet" href="/stylesheets/account.css"/>

<body>
<h1> Settings </h1>
<p> Pick a theme: </p>
<div align="center">
<% for(var i=0; i<themes.length; i++) { %>
    <% if(themes[i]===curTheme) { %>
    <img id="<%=themes[i]%>" class="theme selected" src="../images/<%= themes[i] %>Cover.jpg"/>
    <% } else { %>
    <img id="<%=themes[i]%>" class="theme" src="../images/<%= themes[i] %>Cover.jpg"/>
    <% } %>
    &nbsp;&nbsp;
<% } %>
</div>
</body>
