<footer>
    <div class="container text-center">
        <p class="pull-left">© 2016 Company, Inc. All Rights Reserved</p>
        <ul class="pull-right list-inline">
            <li><a href="https://github.com/AndrewWang996/Express">GitHub Project</a></li>
            <li><a href="https://github.com/AndrewWang996/Express/issues">Issues</a></li>
        </ul>
    </div>
</footer>