<!DOCTYPE html>
<% layout('layout') -%>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <h1><%= project %></h1>
    <p class="lead">A scrapbook to remember.</p>

    <hr/>
    <div class="col-sm-9 grid">
        <div id="myCarousel" class="carousel fade small" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner big" role="listbox">
            <div class="item active img-thumbnail">
              <img src="img/4.jpg" alt="Chania">
            </div>

            <div class="item img-thumbnail big">
              <img src="img/1.jpg" alt="Chania">
            </div>

            <div class="item img-thumbnail big">
              <img src="img/2.jpg" alt="Flower">
            </div>

            <div class="item img-thumbnail big">
              <img src="img/3.jpg" alt="Flower">
            </div>
          </div>
        </div>
    </div>

    <div class="col-sm-3 grid">
        <!-- <div class="row"> -->
            <div id="myCarousel" class="carousel fade small" data-ride="carousel">
                <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active img-thumbnail small">
                  <img src="img/1.jpg" alt="Chania">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/2.jpg" alt="Chania">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/3.jpg" alt="Flower">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/4.jpg" alt="Flower">
                </div>
              </div>
              
            </div>
        <!-- </div> -->

        <!-- <div class="row grid"> -->
            <div id="myCarousel" class="carousel fade" data-ride="carousel">

              <!-- Wrapper for slides -->
              <div class="carousel-inner small" role="listbox">
                <div class="item active img-thumbnail">
                  <img src="img/2.jpg" alt="Chania">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/3.jpg" alt="Chania">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/4.jpg" alt="Flower">
                </div>

                <div class="item img-thumbnail small">
                  <img src="img/1.jpg" alt="Flower">
                </div>
              </div>
            </div>
        <!-- </div> -->

        <div class="darkclass">
        <a href="/login" role="button" class="btn btn-default btn-join">
            <span class="glyphicon glyphicon-plus"></span> Login
        </a>
        </div>
    </div>
</body>
</html>