<!DOCTYPE html>
<html>
  <head>
    <title><%= project %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= project %></h1>
    <p>Welcome to <%= project %></p>
  </body>
</html>
