<!DOCTYPE html>
<% layout('layout') -%>

<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/postcard.css">
<script src="/javascripts/postcard.js"></script>

<body background="/img/desk.jpg">

<% innerPhoto=album.photos[photoIndex]; %>

<div id="postcard">
	<img src="<%= innerPhoto.imageUrl %>" class="pphoto">
	<div class="pcontent">
		<div align="center">
			<p>From:</p>
			<input type="text" class="photo-name-input" placeholder="Name" name="from">
		</div>
		<div align="center">
			<p>To:</p>
			<input type="text" class="photo-name-input" placeholder="Name" name="to">
		</div>
		<div align="center">
			<p>Email:</p>
			<input type="text" class="photo-name-input" placeholder="Recepient Email" name="email">
		</div>

		<!-- Message -->
		<div align="center">
			<% if(innerPhoto.photoName) { %>
			    <textarea name='message'> <%= innerPhoto.photoName %> </textarea>
		    <% } else { %>
		    	<textarea name='message'> Enter a message here. </textarea>
		    <% } %>
	    </div>
        <div align="right">
            <button type="button" class="btn btn-primary send">Send!</button>
        </div>

	</div>
</div>

</body>
