.oddlala {
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

.evenlala {
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.photoz{
	max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.polaroid{
	display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    top: 45%;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 12px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 200px;
	/*background-color: rgba(255,255,255,0.5);*/
	/*opacity: 50%;*/
}

.oddDiv {
	margin-left: 300px;
}

.evenDiv {
	margin-left: 40px;
}