.oddlala {
	-ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

.evenlala {
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);
}

.photoz{
	max-width: 300px;
    max-height: 200px;
    overflow: hidden;
}

.polaroid{
	display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    top: 45%;
}

p {
	font-family: 'Indie Flower', cursive;
	font-size: 12px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: 200px;
}

.albumLink {
	margin-bottom: 10px;
	border-radius: 5px;
}

.albumP {
	font-size: 18px;
	max-width: none;
	margin-left: auto;
	margin-right: auto;
}

.albumDes {
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.name-input {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.5);
}

.scrapbook-location-input {
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

.photo-name-input {
	margin: 0px;
}

.photo-location-input {
	margin: 0px;
}

.oddDiv {
	margin-left: 300px;
}

.evenDiv {
	margin-left: 40px;
}