<% layout('layout') -%>

<h1><%= title %></h1>
<p class="lead">A space-time map of where you've been in your life.</p>

<hr/>

<div class="row">
    <div id='timeline'>
        <!-- attach the motherfucking timeline -->
    </div>
</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.0.1/jquery.qtip.min.css">
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.0.1/jquery.qtip.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/chronoline.css">
<script src="js/lib/chronoline.js"></script>




<script src="javascripts/maps.js"></script>


