<% layout('layout') -%>

<h1><%= title %></h1>
<p class="lead">A space-time map of where you've been in your life.</p>

<hr/>

<div class="row">
    <div class="col-sm-6">
        This is your scrapbook.
    </div>
    <div class="col-sm-6">
        This is your scrapbook.
    </div>
    <div class="col-sm-6">
        This is your scrapbook.
    </div>
    <div class="col-sm-6">
        This is your scrapbook.
    </div>
</div>