


<div class="scrapbook-album">
    <a href="/scrapbook/<%= album.photos[photoIndex].albumName %>">
        <img class="albumLink" src="<%= album.photos[photoIndex].imageUrl %>" height=200/>
    </a>
    <% if(album.location) { %>
        <%= album.location %>
    <% } else { %>
        <input type="text" placeholder="Enter a location here">
    <% } %>

    <% if(album.name) { %>
        <%= album.name %>
    <% } else { %>
        <input type="text" placeholder="Enter a name for your album here">
    <% } %>

</div>