


<div class="scrapbook-album">
    <a href="/scrapbook/<%= album.photos[photoIndex].albumName %>">
        <img class="albumLink" src="<%= album.photos[photoIndex].imageUrl %>" height=200/>
    </a>

    </br>

    <% if(innerScrapbook.albumName) { %>
        <%= innerScrapbook.albumName %>
    <% } else { %>
        <input type="text" placeholder="Enter a name for your album here">
    <% } %>

    </br>

    <% if(innerScrapbook.location) { %>
        <%= innerScrapbook.location.vicinity %>
    <% } else { %>
        <input type="text" contenteditable="true" placeholder="Enter a location here">
    <% } %>


</div>