<!DOCTYPE html>


<div class="scrapbook-album">
    <a href="/scrapbook/<%= album.photos[photoIndex].albumName %>">
        <img class="albumLink" src="<%= album.photos[photoIndex].imageUrl %>" height=200/>
    </a>

    </br>

    <div class ="albumDes">
        <% if(innerScrapbook.albumName) { %>
            <p class ="albumP"><%= innerScrapbook.albumName %></p>
        <% } else { %>
            <input type="text" class="name-input" placeholder="Enter a name for your album here">
        <% } %>

        <% if(innerScrapbook.location) { %>
            <p class ="albumP"><%= innerScrapbook.location.vicinity %></p>
        <% } else { %>
            <input type="text" class="scrapbook-location-input" contenteditable="true" placeholder="Enter a location here">
        <% } %>
    </div>


</div>

