<!DOCTYPE html>
<% layout('layout') -%>


<script src="http://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script src="/js/lib/jquery.geocomplete.min.js"></script>
<script src="/javascripts/scrapbook.js"></script>
<script src="/javascripts/form.js"></script>
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/stylesheets/photoThemeNew.css">
<link rel="stylesheet" href="/stylesheets/theme/<%=theme%>.css">

<body background="/img/desk.jpg">
</br>


<div id="flipbook">
    <div class="hard"><h1><%= album.name %></h1></div> 
    <div class="hard"></div>
    <% for(var i=0; i<album.photos.length; i=i+2) { %>
        <!-- two photos per page, can change if neccessary -->
        <!-- <div class="photoDiv"> -->
        <div>

            <% for(var photoIndex=i; photoIndex<i+2 && photoIndex<album.photos.length; photoIndex++) { %>
                <% if(album.photos[photoIndex].isPhoto) { %>
                    <% innerPhoto = album.photos[photoIndex]; %>
                    <% if (photoIndex%2==0) { %>
                        <% oddPhoto = false; %>
                    <% } else { %>
                        <% oddPhoto = true; %>
                    <% } %>
                    <% include scrapbook_partials/photoThemeNew %>
                <% } else { %>
                    <% innerScrapbook = album.photos[photoIndex]; %>
                    <% include scrapbook_partials/scrapbook %>
                <% } %>
            <% } %>
            </br>
            </br>
            </br>
            </br>
            </br>
            <img src="/img/bow.png" height=200>
            <!-- <img src="/img/glitter.png" height=400> -->
        </div>
    <% } %>

    <% if(Math.ceil(album.photos.length/2) % 2) { //if odd, add extra blank page %>
        <div></div>
    <% } %>
    <div class="hard"></div>
    <div class="hard"></div>
</div>
</body>
